.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'MonaspaceNeon';
  src: url('./components/styles/MonaspaceNeon-Regular.otf') format('opentype');
  /* Add more font formats if needed, e.g., woff, woff2 */
}

body {
  background-color: #11235A;
  margin: 0;
  /* This removes default body margin */
  font-family: 'MonaspaceNeon', sans-serif;
  /* Adjust the font family as needed */
  color: #fff;
  /* Set text color to white, adjust as needed */
}

button {
  font-family: 'MonaspaceNeon', sans-serif;
  /* Adjust the font family as needed */
}